html, body, div, span, a, ul, li, p, table, caption, tbody, tfoot, thead, tr, th, td, iframe, h1, h2, h3, h4, h5, h6, label, input, textarea {
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei","SimHei","SimSun",华文细黑,STHeiti,MingLiu;
    font-size: 12px;
}
html , body{
	height: 100%;
	margin: 0px;
}

.el-dropdown{
	line-height: 0px;
}

.el-dropdown-menu__item{
	min-width: 100px;
}