html, body, div, span, a, ul, li, p, table, caption, tbody, tfoot, thead, tr, th, td, iframe, h1, h2, h3, h4, h5, h6, label, input, textarea {
    font-family: "Microsoft YaHei",微软雅黑,"MicrosoftJhengHei","SimHei","SimSun",华文细黑,STHeiti,MingLiu;
    font-size: 12px;
    line-height: 25px;
}
body {
	background-image: url(../images/reg-bg.gif);
	background-size: 100%;
}
.lang-bar {
	text-align: right;
	margin-top: 20px;
	font-size: 13px;
}
.error-msg{
	color: red;
}
.megi-logo{
	background-image:url(../images/logo.png) ;
	width: 134px;
	height: 55px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}