<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="http://127.0.0.1:7005/css/css.css" rel="stylesheet" />
    <script src="http://127.0.0.1:7005/lib/vue/vue.js"></script>
    <script src="http://127.0.0.1:7005/lib/axios/axios.js"></script>
    <script src="http://127.0.0.1:7005/lib/vue-cookies/vue-cookies.js"></script>
</head>
<body>
    <div class="m-form m-form-nopadding" id="divOrg">
        <div class="row">
            <span class="lbl">显示名称</span>
            <span class="content"><input class="easyui-validatebox mg-data" style="width:360px;" maxlength="50" data-options=" required:true" name="MDisplayName" id="txtDisplayName" /></span>
        </div>
        <div class="row">
            <span class="lbl">法定名称</span>
            <span class="content"><input class="easyui-validatebox mg-data" style="width:360px;" data-options="required:true" maxlength="200" name="MLagalTrading" id="txtLagalTrading" /></span>
        </div>
        <div class="row">
            <span class="lbl">组织类型</span>
            <span class="content">
                <select class="easyui-combobox mg-data m-default" name="MOrgTypeID" style="width:360px; height:28px;" panelheight="170">
                   
                </select>
            </span>
        </div>
        <div class="row">
            <span class="lbl">组织所属行业</span>
            <span class="content">
                <select name="MOrgDesc" class="easyui-combobox mg-data" style="width:360px; height:28px;" >

                </select>
            </span>
            <div class="clear"></div>
        </div>
        <div class="row">
            <span class="lbl">国家</span>
            <span class="content">
                <select id="selCountry" name="MCountryID" class="easyui-combobox mg-data" style="width:360px; height:28px;"></select>
            </span>
        </div>
        <div class="row">
            <span class="lbl">省</span>
            <span class="content">
                <select id="selProvince" name="MStateID" class="easyui-combobox mg-data" style="width:360px; height:28px;"></select>
                <input id="txtProvince" class="textbox mg-data" name="MStateID" style="width: 360px; display: none;" maxlength="36" />
            </span>
        </div>
        <div class="row">
            <span class="lbl">城市</span>
            <span class="content"><input id="txtCity" class="textbox mg-data" style="width:360px;" name="MCityID" maxlength="36" /></span>
        </div>
        <div class="row">
            <span class="lbl">街道</span>
            <span class="content"><input id="txtStreet" class="textbox mg-data" style="width:360px;" name="MStreet" maxlength="300" /></span>
        </div>
        <div class="row">
            <span class="lbl">邮政编码</span>
            <span class="content"><input id="txtPostalNo" class="textbox mg-data" style="width:360px;" name="MPostalNo" maxlength="50" /></span>
        </div>
        <div class="row">
            <span class="lbl">语言</span>
            <span class="content m-org-lang"></span>
            <span class="reg-error-image">&nbsp;</span>
        </div>
    </div>
</body>
</html>
