<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
    <link href="http://127.0.0.1:7005/css/css.css" rel="stylesheet" />
    <script src="http://127.0.0.1:7005/lib/jquery/dist/jquery.js"></script>
    <script src="http://127.0.0.1:7005/lib/vue/vue.js"></script>
    <script src="http://127.0.0.1:7005/lib/axios/axios.js"></script>
    <script src="http://127.0.0.1:7005/lib/vue-cookies/vue-cookies.js"></script>

</head>
<body>
    <div class="" style="width:100%;height:100%;">
        <div class="dashboard-home">
            <div class="m-ititle" style="height:60px;">
                <div class="content" style="padding-left:20px">
                    <div class="title" style="width:500px;">
                        <span class="title-text" style="font-size: 30px;">我的美记</span>
                        <a href="javascript:void(0)" style="width:150px;" id="btnAddOrganization" v-on:click="click" class="easyui-splitbutton-base m-btn-m">新增组织</a>

                        <div id="divAddOrganisation" style="width:150px; display:none;">
                            <div><a href="javascript:void(0)" id="aAddBasicOrganisation" onclick="top.MyIndex.addOrganisation(0)">标准版</a></div>
                            <div><a href="javascript:void(0)" id="aAddSmartOrganisation" onclick="top.MyIndex.addOrganisation(1)">记账版</a></div>
                        </div>

                    </div>
                    <div class="clear"></div>
                    <div class="info" id="div-welcom" style="padding:1px 3px;margin-top:10px" lastorgid="">
                        <span id="span-welcom-tips" class='mg-bold'>{{welcomInfo}}</span>
                    </div>
                </div>
                <div class="action" style="margin-right:20px;">
                    <input class="easyui-searchbox" id="txtKeyword" data-options="searcher:FWDashboard.doSearch" style="width:200px">
                    <a href="javascript:void(0)" id="aDataList" class="m-data-list" style="float:right;">&nbsp;</a>
                    <a href="javascript:void(0)" id="aDataGrid" class="m-data-grid-current" style="padding-right: 15px;float:right;">&nbsp;</a>

                </div>
            </div>
            <div class="m-imain">
                <!--内容-->
                <div class="m-imain-content m-imain-dashboard" style="padding:10px 20px 0 20px;">
                    <!--大视图-->
                    <div id="divDataGridContainer" style="border-bottom: 1px solid #ccc;">
                        <div class="m-bank-list1" id="divDataGrid">
                        </div>
                        <div id="pagination" class="datagrid-pager pagination"></div>
                    </div>
                    <!--小视图-->
                    <div id="divDataListContainer" class="m-imain-content" style="padding:0px!important;">
                        <div id="divDataList" fitcolumns="false">
                        </div>
                    </div>
                    <div style="padding:5px 0px;" class="try-demo-div">
                        <a href="javascript:void(0);" id="aCreateDemoCompany">创建Demo组织</a> 在探索中尝试和熟悉美记的新特性
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/dashboard.js"></script>
</body>
</html>
