<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex,nofllow">
    <title>美记管理平台</title>
    <link href="http://127.0.0.1:7005/css/css.css" rel="stylesheet" />
    <script src="http://127.0.0.1:7005/lib/vue/vue.js"></script>
    <script src="http://127.0.0.1:7005/lib/axios/axios.js"></script>
    <script src="http://127.0.0.1:7005/lib/vue-cookies/vue-cookies.js"></script>
    <script src="http://127.0.0.1:7005/js/request-componet.js"></script>
</head>
<body class="masked-relative">
    <div class="m-wrapper">
        <div class="m-header">
            <div class="m-top">
                <div class="m-logo"></div>
                <!--组织下拉框-->
                <div id="divOrgCombox"><div class="m-org"><a href="###" id="aOrgList" orgid="dm000000000000000000000000000102" ispaid="0">Demo Company</a></div><div id="divOrgList" class="m-pop-box m-pop-menu"><b class="popup-arrow"></b><div class="item-list" style="height: 342px;"><p><a href="###" onclick="Index.navToMySite()">我的美记</a></p><p><a href="###" onclick="Index.onSelectOrg('0e1fb667470948d0bb26e61a9572b456', '/','15','0', 'true');"> Demo_Company</a></p><p><a href="###" onclick="Index.onSelectOrg('2dad0e3207564b9d88f6c9f746742bc5', '/','15','0', 'false');">0512发版测试</a></p><p><a href="###" onclick="Index.onSelectOrg('829f8a6023a94410a0060e8f27653c20', '/','15','0', 'false');">Test 小企业会计准则</a></p><p><a href="###" onclick="Index.onSelectOrg('12254bd01ee140759680854512f3a5f0', '/','15','0', 'false');">test0301</a></p><p><a href="###" onclick="Index.onSelectOrg('36388b060d7545a69c3b89a1009840a8', '/','15','0', 'false');">发包测试0420</a></p><p><a href="###" onclick="Index.onSelectOrg('73cf799a8f4f43769e8cd1b8263778db', '/BD/Setup/GLChartOfAccount','12','0', 'false');">小企业</a></p><p><a href="###" onclick="Index.onSelectOrg('d6c2ab2645c14543be3e0ea933976ff4', '/','15','0', 'false');">美记_1.4.0_标准版_陈攀</a></p><p><a href="###" onclick="Index.onSelectOrg('61be3826567c4e8e8b95cced7243c451', '/','15','1', 'true');">美记_1.4.0_记账版_陈攀</a></p></div></div></div>

                <div class="m-action">
                    <a class="m-global" href="###" style="display: none;">&nbsp;</a>
                    <a class="m-search" href="###" title="搜索" tipid="4avfIdcTbM">&nbsp;</a>
                    <a class="m-help" href="###" onclick="mWindow.open('https://help.megichina.com', 'helpCenter')" id="megiFeedback" title="帮助">&nbsp;</a>
                    <a class="m-attachment" id="aAttachment" href="###" onclick="$.mTab.addOrUpdate('我的文件', '/BD/Docs/Index', true);" title="我的文件">&nbsp;</a>
                    <a id="aUser" class="m-user" href="###" title="用户">&nbsp;</a>
                    <div id="divUserInfo" class="m-user-info">
                        <b class="popup-arrow popup-arrow-notch"></b>
                        <b class="popup-arrow"></b>
                        <div class="m-user-img">


                            <img id="imageHeaderImage" style="height: 80px;width: 80px;">
                        </div>
                        <div class="m-user-content">
                            <p id="lblUserName" class="m-ellipsis" style="white-space:nowrap;" title="c c">c c</p>
                            <ul>
                                <li><a href="###" id="aProfilesettings" onclick="$.mTab.addOrUpdate('个人资料', 'Https://my.megichina.com/Setting/Profile/ProfileEdit',true)">个人资料</a></li>
                                <li><a href="###" id="aAccountSettings" onclick="$.mTab.addOrUpdate('账号设置', 'Https://my.megichina.com/Setting/Account/AccountEdit',true)">账号设置</a></li>
                            </ul>
                        </div>
                        <div class="m-lang-top">
                            <a href="javascript:void(0)" id="0x0009" onclick="mUtil.ChangeLang('0x0009',1 ,'' , false)" class="">English</a>
                        </div>
                        <div class="m-quit">
                            <a id="aLogout" href="Https://login.megichina.com/Account/Logout">退出</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-bottom">
                <div class="m-menu-show">
                </div>
                <div class="m-tab">
                    <ul class="m-tab-ul">
                        <li class="current stable" tipid="Ww108T5yeH" draggable="false" style="width: 150px;">
                            <span class="m-tab-inner">
                                <a href="###" onclick="$.mTab.showCurrent(0)" class="m-tab-item" data-index="0" locked="0">
                                    仪表盘
                                </a>
                                <a href="###" class="m-refresh" onclick="$.mTab.refresh(0,'',true)">
                                    &nbsp;
                                </a>
                            </span>
                        </li>


                        <li style="position: initial; width: 88px;" class="last stable" draggable="false">

                            <span class="m-tab-inner">
                                <a href="###" id="aNewTab" class="m-tab-item m-menu-list" data-index="9999">
                                    新增 ＋
                                </a>
                            </span>
                            <div id="divNewTabList" class="m-pop-box m-pop-menu">
                                <b class="pupup-arrow-space"></b>
                                <b class="popup-arrow popup-arrow-notch"></b>
                                <b class="popup-arrow"></b>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('新增销售单', '/IV/Invoice/InvoiceEdit?Origin=Quick_Menu', true, true);">新增销售单</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('新增采购单', '/IV/Bill/BillEdit?Origin=Quick_Menu', true);">新增采购单</a></p>
                                <p><a href="###" id="aNewExpense" onclick="$.mTab.addOrUpdate('新增费用报销单', '/IV/Expense/ExpenseEdit?Origin=Quick_Menu', true);">新增费用报销单</a></p>
                                <p><a href="###" id="aNewSpendMoney" onclick="Index.newTransaction('Payment');">新增付款单</a></p>

                                <p><a href="###" id="aNewReceiveMoney" onclick="Index.newTransaction('Receive');">新增收款单</a></p>

                                <p><a href="###" onclick="$.mTab.addOrUpdate('新建凭证', '/GL/GLVoucher/GLVoucherEdit?Origin=Quick_Menu', true, true,false,true);">新建凭证</a></p>
                                <p><a href="###" onclick="Index.newContact();">新增联系人</a></p>
                                <p><a href="###" onclick="Index.newInventoryItem();">新增商品</a></p>

                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="m-nav" style="height: 894px;">
            <ul class="top">
                <li class="item" v-for="module in modules">
                    <a href="javacript:void(0);" v-bind:class="module.navStyle" data-index="0">&nbsp;</a>
                    <div class="m-sub-nav-container" style="height: 874px; left: 62px; display: none;">
                        <div class="m-sub-nav">
                            <span class="arrow-left-border">&nbsp;</span>
                            <span class="arrow-left">&nbsp;</span>

                            <p><a href="javacript:void(0);" data-index="0" onclick="$.mTab.addOrUpdate('仪表盘','/FW/FWHome/FWDashboard?type=0',true)">{{module.name}}</a></p>
                            <p><a href="javacript:void(0);" data-index="0">&nbsp;</a></p>
                        </div>
                    </div>
                </li>
                @*<li class="item">
                        <a href="###" id="aBusiness" class="item-link m-nav-account">&nbsp;</a>
                        <div class="m-sub-nav-container" style="height: 874px; left: 62px; display: none;">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>


                                <p><a href="###" id="BankAccounts" onclick="$.mTab.addOrUpdate('银行账户', '/BD/BDBank/BDBankHome', true)" class="">银行账户</a></p>

                                <p><a href="###" id="aSales" onclick="$.mTab.addOrUpdate('销售', '/IV/Invoice/InvoiceList',true)">销售</a></p>
                                <p><a href="###" id="aPurchase" onclick="$.mTab.addOrUpdate('采购', '/IV/Bill/BillList',true)">采购</a></p>
                                <p><a href="###" id="aExpenseClaims" onclick="$.mTab.addOrUpdate('费用报销', '/IV/Expense/ExpenseList',true)">费用报销</a></p>
                                <p><a href="###" id="aPayRun" onclick="$.mTab.addOrUpdate('工资', '/PA/SalaryPayment/PayRunList',true)">工资</a></p>
                                <p><a href="###" id="aGeneralLedger" onclick="$.mTab.addOrUpdate('总账', '/GL/GLVoucher/GLVoucherHome',true)">总账</a></p>
                                <p><a href="###" id="aFixAssets" onclick="$.mTab.addOrUpdate('固定资产', '/FA/FAFixAssets/FixAssetsHome',true)">固定资产</a></p>

                                <p><a href="###" id="aFapiaoHome" onclick="$.mTab.addOrUpdate('发票', '/FP/FPHome/FPDashboard',true)">发票</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <a href="###" class="item-link m-nav-report">&nbsp;</a>
                        <div class="m-sub-nav-container" style="height: 874px; left: 62px; display: none;">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('全部报表', '/Report/',true)">全部报表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('应收账龄分析表', '/Report/Report2/21', true)">应收账龄分析表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('应付账龄分析表', '/Report/Report2/19', true)">应付账龄分析表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('银行和现金明细表', '/Report/Report2/13', true)">银行和现金明细表</a></p>
                                <!--费用报销报表-->
                                <p><a href="###" onclick="$.mTab.addOrUpdate('费用报销报表', '/Report/Report2/38', true)">费用报销报表</a></p>
                                <!--总账相关的报表-->
                                <p><a href="###" onclick="$.mTab.addOrUpdate('总分类账', '/Report/Report2/33', true)">总分类账</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('科目余额表', '/Report/Report2/41', true)">科目余额表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('明细分类账', '/Report/Report2/42', true)">明细分类账</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('利润表','/Report/Report2/39')">利润表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('资产负债表','/Report/Report2/23')">资产负债表</a></p>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('现金流量表','/Report/Report2/40')">现金流量表</a></p>
                                <!--固定资产的报表-->
                                <!-- <p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('折旧明细表','/Report/Report2/501')">折旧明细表</a></p> -->
                                <p><a href="###" onclick="$.mTab.addOrUpdate('折旧汇总表','/Report/Report2/502')">折旧汇总表</a></p>
                                <!-- <p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('资产明细账','/Report/Report2/504')">资产明细账</a></p> -->
                                <!--<p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('资产变更表','/Report/Report2/503')">资产变更表</a></p>-->
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <a href="###" class="item-link m-nav-folder" id="aIdentity">&nbsp;</a>
                        <div class="m-sub-nav-container" style="height: 874px; left: 62px; display: none;">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left"></span>
                                <p><a href="###" id="aAllContacts" onclick="$.mTab.addOrUpdate('所有联系人', '/BD/Contacts/ContactsList',true)">所有联系人</a></p>
                                <p><a href="###" id="aCustomers" onclick="$.mTab.addOrUpdate('客户', '/BD/Contacts/ContactsList/客户',true)">客户</a></p>
                                <p><a href="###" id="aCustomers" onclick="$.mTab.addOrUpdate('供应商', '/BD/Contacts/ContactsList/供应商',true)">供应商</a></p>
                                <p><a href="###" id="aOther" onclick="$.mTab.addOrUpdate('其它', '/BD/Contacts/ContactsList/其它',true)">其它</a></p>
                                <p><a href="###" id="aEmployees" onclick="$.mTab.addOrUpdate('员工', '/BD/Employees/EmployeesList',true)">员工</a></p>

                            </div>
                        </div>
                    </li>*@
            </ul>


            <ul class="bottom" style="margin-top: 619px;">
                <li>
                    <a id="aOption" class="item-link m-nav-setting">&nbsp;</a>
                    <div class="m-sub-nav-container" style="margin-top: -10px; height: 874px; left: 62px; display: none;">
                        <div class="m-sub-nav">
                            <span class="arrow-left-border">&nbsp;</span>
                            <span class="arrow-left">&nbsp;</span>
                            <div class="arrow-content">
                                <div class="arrow-content-cell first">

                                    <div class="arrow-content-cell-title">基础设置</div>
                                    <p><a href="###" id="aOrganisation" onclick="$.mTab.addOrUpdate('组织设置', '/BD/Organisation/OrganisationEdit',true)">组织设置</a></p>                                            <p><a href="###" id="agLobalization" onclick="$.mTab.addOrUpdate('全球化设置', '/BD/Organisation/GlobalizationSettings',true)">全球化设置</a></p>
                                    <p><a href="###" id="aFinancial" onclick="$.mTab.addOrUpdate('财务设置', '/BD/Financial/FinancialEdit',true)">财务设置</a></p>                                                <p style="display:none"><a href="###" onclick="$.mTab.addOrUpdate('银行账号初始金额', '/BD/BDBank/BankAccountBalances', true)">银行账号初始金额</a></p>
                                    <p><a href="###" id="aTaxRate" onclick="$.mTab.addOrUpdate('税率', '/BD/TaxRate/TaxRateList',true)">税率</a></p>
                                    <p><a href="###" id="aCurrency" onclick="$.mTab.addOrUpdate('货币', '/BD/Currency/Currency', true)">货币</a></p>
                                    <p><a href="###" id="aInventory" onclick="$.mTab.addOrUpdate('商品', '/BD/Item/ItemList',true)">商品</a></p>
                                    <p><a href="###" id="aExpenseItem" onclick="$.mTab.addOrUpdate('费用项目', '/BD/ExpenseItem/ExpenseItemList',true)">费用项目</a></p>
                                    <!--工资相关-->
                                    <p><a href="###" id="aSalaryComp" onclick="$.mTab.addOrUpdate('工资项目', '/PA/PayItem/Index',true)">工资项目</a></p>
                                    <p><a href="###" id="aTracking" onclick="$.mTab.addOrUpdate('跟踪项', '/BD/Tracking/BDTrackList',true)">跟踪项</a></p>
                                    <!--快速码暂时只有总帐-->
                                    <p><a href="###" id="aFastCode" onclick="$.mTab.addOrUpdate('快速码管理', '/FC/FCHome/FCHome',true)">快速码管理</a></p>
                                    <!--固定资产类别设置-->
                                    <p><a href="###" id="aFixAssetsType" onclick="$.mTab.addOrUpdate('资产类别管理', '/FA/FAFixAssets/FixAssetsTypeHome',true)">资产类别管理</a></p>
                                    <p><a href="###" id="aImport" onclick="IOImport.open(0)">导入</a></p>
                                </div>
                                <div class="arrow-content-cell second">

                                    <div class="arrow-content-cell-title">高级设置</div>
                                    <p myattr="right"><a href="###" id="aUser" onclick="$.mTab.addOrUpdate('用户', '/BD/User/UserList',true)">用户</a></p>
                                    <p myattr="right"><a href="###" id="aPrintSetting" onclick="$.mTab.addOrUpdate('打印模板设置', '/PT/PTBase/PTIndex', true)">打印模板设置</a></p>
                                    <!--工资相关-->
                                    <p myattr="right"><a href="###" id="aCompany" onclick="$.mTab.addOrUpdate('公司工资设置', '/PA/PayrollBasic/Index',true)">公司工资设置</a></p>
                                    <p myattr="right" style="display:none;"><a href="###" id="aOneKeyExport" onclick="Index.exportAll();">一键导出</a></p>
                                    <p myattr="right"><a href="###" onclick="mWindow.open('Http://api.megichina.com/api/File/GetExcelPlusApp')" id="aExcelDown">Excel 工具下载</a></p>
                                    <!--固定资产启用 HtmlOrg.RegProgress >= (int)BASOrgScheduleTypeEnum.GLSuccess&& -->
                                    <p myattr="right" style="color: dodgerblue"><a href="###" id="aEnableFixAssets" onclick="Index.open(1)">固定资产启用信息</a></p>

                                    <p myattr="right" style="color: dodgerblue"><a href="###" id="FaPiaoSetting" onclick="$.mTab.addOrUpdate('发票设置', '/FP/FPSetting/FPSetting',true)">发票设置</a></p>
                                    <p myattr="right"><a href="Http://api.megichina.com/api/File/GetETaxPlusApp" id="aExcelDown" target="_blank">eTax上传工具下载</a></p>
                                    <div class="clear" style="height: 10px;"></div>
                                </div>
                                <div class="arrow-content-cell third">
                                    <div class="arrow-content-cell-title">总账设置</div>


                                    <p myattr="right"><a href="###" id="aAccountItem" onclick="$.mTab.addOrUpdate('会计科目', '/BD/BDAccount/AccountList', true)">会计科目</a></p>

                                    <p myattr="right"><a href="###" id="aAccountBalances" onclick="$.mTab.addOrUpdate('科目初始余额', '/BD/BDAccountBalance/AccountBalances', true)">科目初始余额</a></p>


                                    <p myattr="right"><a href="###" id="aAccountRelate" onclick="$.mTab.addOrUpdate('期初单据初始化', 'Https://go.megichina.com/BD/InitDocument/InitDocumentIndex',true,true,false,true)">期初单据初始化</a></p>


                                    <p myattr="right"><a href="###" id="aAccountItem" onclick="$.mTab.addOrUpdate('凭证设置', '/BD/BDVoucherSetting/VoucherSetting', true)">凭证设置</a></p>
                                    <p myattr="right"><a href="###" id="aRoutineInspect" onclick="$.mTab.addOrUpdate('巡检设置', 'Https://go.megichina.com/BD/RoutineInspect/RoutineInspectSetting',true,true,false,true)">巡检设置</a></p>

                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>
                                    <p myattr="right"><a>&nbsp;</a></p>

                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m-main" style="width: 1857px; height: 894px;">
            <div data-index="0" class="m-tab-content" style="display: block; overflow: hidden;" data-url="/FW/FWHome/FWDashboard?type=0&amp;bti=e19b4a68c2b64baaa8949f058c5f93e0&amp;lang=0x7804">
                <iframe id="dashboard" width="1857px" height="894px" class="" src=""></iframe>
            </div>
            <div class="clear"></div>
            <div data-index="1" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-01" name="m-iframe-01" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="2" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-02" name="m-iframe-02" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="3" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-03" name="m-iframe-03" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="4" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-04" name="m-iframe-04" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="5" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-05" name="m-iframe-05" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="6" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-06" name="m-iframe-06" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="7" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-07" name="m-iframe-07" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="8" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-08" name="m-iframe-08" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="9" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-09" name="m-iframe-09" width="1857px" height="894px"></iframe>
            </div>
            <div data-index="10" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src="" id="m-iframe-10" name="m-iframe-10" width="1857px" height="894px"></iframe>
            </div>
        </div>
    </div>

    <!--这是一个tab页右键刷新/删除等操作的功能-->
    <!--顶层的遮盖，透明-->
    <div class="home-top-bg">
    </div>
    <!--顶层的遮盖，透明-->
    <div class="iframe-top-bg">
    </div>
    <!--搜索嵌入框-->
    <div id="Ww108T5yeH" class="m-tip-top-div" style="width:150px; height:180px;">
        <span class="m-tip-arrow-bg"></span><span class="m-tip-arrow-up"></span><div class="home-context-menu m-pop-menu" style="display: block;">
            <p style="width: 110px;"><a href="###" class="home-refresh">刷新</a></p>
            <p style="width: 110px;"><a href="###" class="home-close">关闭</a></p>
            <p style="width: 110px;"><a href="###" class="home-close-all">关闭所有</a></p>
            <p style="width: 110px;"><a href="###" class="home-close-right">关闭右侧</a></p>
            <p style="width: 110px;"><a href="###" class="home-close-others">关闭其它</a></p>
        </div>
    </div><div id="4avfIdcTbM" class="m-tip-top-div" style="width:1080px; height:502px;">
        <span class="m-tip-arrow-bg"></span><span class="m-tip-arrow-up"></span><div class="m-search-div" style="">

            <div id="divSearch" class="m-form-vtcl">
                <div class="m-imain-content">
                    <div class="m-form-section section-type4" style="padding-bottom: 0;">
                        <div class="m-form-item" style="height: 40px; width: 20%">
                            <ul>
                                <li>
                                    <input id="bizObjectSel">
                                </li>
                            </ul>
                        </div>
                        <div class="m-form-item" style="height: 40px; width: 20%">
                            <ul>
                                <li>
                                    <input id="bizColumnSel">
                                </li>
                            </ul>
                        </div>
                        <div class="m-form-item" style="height: 40px; width: 20%">
                            <ul>
                                <li>
                                    <input id="operateSel">
                                </li>
                            </ul>
                        </div>
                        <div class="m-form-item" style="height: 40px; width: 20%">
                            <ul>
                                <li>
                                    <input id="keywordInput" class="mg-data textbox hint-blur m-show-hint" name="keyword" hint="请输入搜索关键字">
                                    <input id="dateInput" class="mg-data textbox hint-blur m-show-hint" style="display:none" name="keyword" hint="日期">
                                </li>
                            </ul>
                        </div>
                        <div class="m-form-item" style="height: 40px; width: 20%">
                            <ul>
                                <li class="m-tab-toolbar">
                                    <a href="javascript:void(0)" class="easyui-linkbutton easyui-linkbutton-yellow l-btn l-btn-small" filter="track;topSearch" id="btnSearch" style="height:25px;" group=""><span class="l-btn-left"><span class="l-btn-text">搜索</span></span></a>
                                    <a href="javascript:void(0)" id="btnReset" onclick="new mSearch().initCombobox()" class="" style="margin-left:10px;">重置</a>
                                </li>
                            </ul>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div id="dataGridDiv">
                        <div id="dataGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/index.js"></script>
</body>
</html>