<html>
<head>
    <link href="http://127.0.0.1:7005/css/css.css" rel="stylesheet" />
    <script src="http://127.0.0.1:7005/lib/vue/vue.js"></script>
    <script src="http://127.0.0.1:7005/lib/vue-cookies/vue-cookies.js"></script>
    <script src="http://127.0.0.1:7005/lib/axios/axios.js"></script>
    <script src="http://127.0.0.1:7005/js/request-componet.js"></script>
    <script src="http://127.0.0.1:7005/js/vuecomponent/button-component.js"></script>

    <script src="~/js/configuration.js"></script>
    
</head>
<body class="m-reg-bg">
    <div class="m-reg-box">
        <div id="loginBox" class="m-login-box">
            <div class="container form-login-content">
                <div class="migi_Logo">

                </div>
                <div class="lang-bar">
                    切换语言 中文简体
                </div>

                <div class="main login">
                    <p class="item-wrap">
                        <input list="userEmailList" type="text" id="txtEmail" class="textbox email" v-model="email" style="width:342px" />

                        <datalist id="userEmailList"></datalist>
                    </p>
                    <p class="item-wrap">
                        <input type="password" id="txtPwd" class="textbox password password-password" v-model="password" style="width:342px" />
                    </p>
                    <div><a href="/Password/ForgetPwd">忘记密码</a></div>
                    <p id="divCode" style="width:260px;display:none">
                        <input type="text" id="tbxCode" class="easyui-validatebox textbox" hint="验证码" style="width: 60px; height: 26px; line-height:26px; padding-left: 2px;background-image:none;" />
                        <span id="divCodeImage" style="display:none">
                            <label id="isCorrent" href="javascript:void(0);" code="false" style="width: 16px; height: 16px; padding: 1px 5px;margin:0 auto;">&nbsp;&nbsp;</label>

                            <a href="javascript:void(0);" id="btnChangeImage">看不清</a>
                        </span>
                    </p>
                    <div id="lblError" class="error-msg">
                        {{errorTips}}
                    </div>
                    <div class="m-action">
                          <button-normal :button-id="loginButtonId" :button-class="loginButtonClass" :button-title="loginButtonTitle" :remote-url="loginButtonUrl" http-method="post" :init-post-data="getLoginPostData"
                                         :success-callback="loginSuccessd" :fail-callback="loginFailed"></button-normal>
                    </div>
                    <div class="m-reg-wrap">
                        <span style="color:red"></span>
                        <br />
                        <span>没有账号</span>
                    </div>
                    <div class="m-trial-wrap">
                        <a href="javascript:void(0);">免费试用</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/login.js"></script>
</body>
</html>


